<!doctype html>

<html lang="en">
  <head>
    <title>Devix</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="styles.css" />

    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="author" content="Devix" />

    <meta
      name="description"
      content="a web application that helps young adults with cancer treatment during chemotherapy"
    />
  </head>

  <body>
    <div class="app alimentation">
      <header class="top-bar">
        <button class="icon-btn go-back" aria-label="GO back">
          <img src="../../sources/images/arrow-left.svg" />
        </button>
      </header>

      <main class="content">
        <h2 class="food-title">Equilibre</h2>

        <div class="food-list">
          <div class="food-element food1">
            <img src="../../sources/images/Food1.svg" />

            <h3>Maintien Musculaire</h3>

            <p>Rich en proteies mangerz comme les plus anciens</p>
          </div>

          <div class="food-element food2">
            <img src="../../sources/images/Food2.svg" />

            <h3>Maintien Musculaire</h3>

            <p>Rich en proteies mangerz comme les plus anciens</p>
          </div>
        </div>

        <h2 class="food-title">JEUNE</h2>

        <div class="food-list">
          <div class="food-element food3">
            <img src="../../sources/images/Food3.svg" />

            <h3>Maintien Musculaire</h3>

            <p>Rich en proteies mangerz comme les plus anciens</p>
          </div>

          <div class="food-element food4">
            <img src="../../sources/images/Food4.svg" />

            <h3>Maintien Musculaire</h3>

            <p>Rich en proteies mangerz comme les plus anciens</p>
          </div>
        </div>

        <div class="test">
          <div class="test-content">
            <img class="test-icon" src="../../sources/images/Food2.svg" />

            <div>
              <h3>Faire le test</h3>

              <p>Pour trouver un programme</p>
            </div>
          </div>

          <img src="../../sources/images/arrow-right.svg" />
        </div>
      </main>

      <footer>
        <nav class="nav-buttons">
          <div class="nav-btn">
            <button class="icon-btn" aria-label="Home Icon">
              <img src="../../sources/images/Home.svg" />
            </button>

            <p>Home</p>
          </div>

          <div class="nav-btn">
            <button class="icon-btn">
              <img src="../../sources/images/Location.svg" />
            </button>

            <p>Tasks</p>
          </div>

          <div class="nav-btn">
            <button class="icon-btn">
              <img src="../../sources/images/Activity.svg" />
            </button>

            <p>Statistiques</p>
          </div>

          <div class="nav-btn">
            <button class="icon-btn">
              <img src="../../sources/images/Icon.svg" />
            </button>

            <p>Community</p>
          </div>

          <div class="nav-btn">
            <button class="icon-btn">
              <img src="../../sources/images/Profile.svg" />
            </button>

            <p>Account</p>
          </div>
        </nav>
      </footer>
    </div>
  </body>
</html>
