<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neural Presentation Page</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="sign_card">
        <div class="sign_logo">
            <h1>
                verification
            </h1>
        </div>
        <h3>
            We've send you the verification code on your email address, please check your email and enter the code to
            verify your account
        </h3>
        <form action="" class="sign_form">
            <div class="pin_code_input">
                <input type="tel" maxlength="1" pattern="[0-9]" inputmode="numeric" required>
                <input type="tel" maxlength="1" pattern="[0-9]" inputmode="numeric" required>
                <input type="tel" maxlength="1" pattern="[0-9]" inputmode="numeric" required>
                <input type="tel" maxlength="1" pattern="[0-9]" inputmode="numeric" required>
            </div>
            <label for="pin_submit" class="submit_button">
                <input type="submit" id="pin_submit" value="Send">
            </label>
        </form>
</body>

</html>