<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neural Presentation Page</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="sign_card">
        <div class="sign_logo">
            <h1>
                Reset Password
            </h1>
        </div>
        <h3>
            Please enter your email address to request a password reset
        </h3>
       <form action="" class="sign_form">
            <div class="sign_email">
                <h2>Email</h2>
                <input type="email" placeholder="Type your email address">
            </div>
            <label for="reset_password_submit" class="submit_button">
                <input type="submit" id="reset_password_submit" value="Send">
            </label>
       </form>
</body>

</html>