<!doctype html>

<html lang="en">
  <head>
    <title>Devix</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="styles.css" />

    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="author" content="Devix" />

    <meta
      name="description"
      content="a web application that helps young adults with cancer treatment during chemotherapy"
    />
  </head>

  <body>
    <div class="app alimentation">
      <header class="top-bar">
        <button class="icon-btn go-back" aria-label="Go back">
          <img src="../../sources/images/arrow-left.svg" alt="Back" />
        </button>

        <div class="top-right">
          <button class="icon-btn sound" aria-label="Toggle sound">
            <img src="../../sources/images/volume-high.svg" alt="Sound" />
          </button>

          <button class="icon-btn export" aria-label="Export chat">
            <img src="../../sources/images/export.svg" alt="Export" />
          </button>
        </div>
      </header>

      <main class="content">
        <h1>Faire le test</h1>

        <div class="mascot-qst">
          <img
            class="mascot"
            src="../../sources/images/Blinky 6.svg"
            alt="Mascot"
          />

          <div class="qst-box">
            <p>Quel est votre alimentation préférée ?</p>
          </div>
        </div>

        <ol class="answers">
          <li class="asw-card">Vegan</li>

          <li class="asw-card">Végétarienne</li>

          <li class="asw-card">Pesco-végétarienne</li>

          <li class="asw-card">Aucune préférence alimentaire</li>
        </ol>
      </main>

      <button class="btn">SUIVANT</button>
    </div>
  </body>
</html>
